.card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--card-background);
  color: var(--text);
  border-radius: 10px;
  height: 80px;
  margin: 15px;
  padding: 20px;
}

.card li {
  text-decoration: none;
}

.card p {
  font-size: 1.3rem;
  font-weight: 400;
  flex-basis: 0;
  flex-grow: 1;
  line-height: 40px;
}

.card span {
  display: inline-flex;
  align-items: center;
  font-size: 1.3rem;
  text-align: center;
  margin-right: 10px;
}

.option {
  position: relative;
}

.option button {
  background-color: var(--card-background);
  border: none;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all 1s ease-in-out;
}

.option select {
  position: absolute;
  top: 0;
  left: -50%;
  transform: translateX(-50%);
  cursor: pointer;
  color: var(--background);
  background-color: var(--card-shadow);
  border-radius: 8px;
  box-shadow: 1px 1px 29px var(--card-background);
}

.option option {
  cursor: pointer;
}
